body {
    background-color: #504f4f;
}

p,
h4 {
    color: white;
}

.jumbotron-fluid.hero-area {
    background: url('https://www.wallpaperup.com/uploads/wallpapers/2016/08/08/1005155/b15ef61615c20ee68fee2af0877198bd-700.jpg');
    background-size: cover !important;
    background-position-y: 30% !important;
    justify-content: center;
    height: 600px;
}

.jumbotron-fluid.hero-area .transparent {
    background-color: transparent;
}

.featured-badge {
    position: absolute;
    top: 15px;
    left: 20px;
}

.featured-badge span {
    background-color: #f44336;
}

.jumbotron-fluid {
    margin-bottom: 0px;
    height: 100%;
}

#featured-carousel .card {
    height: 100%;
    width: 100%;
}

.listing-button-area {}

a.listing-actions {
    /* color: #000; */
}

.listing-badge-genre {
    position: absolute;
    top: 5px;
    left: 20px;
}

.listing-badge-artist {
    position: absolute;
    bottom: 18px;
    right: 20px;
}


/* Not sure why the grid on homepage isnt working but fixed with this */

.col-lg {
    display: grid;
}

form input[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}