{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center justify-content-center h-100">
    <div class="d-flex flex-column">
        {% if error == 404 %}
        <h3 class="text-white display-2">Sorry, that page may not exist anymore..</h3>
        {% elif error == 500 %}
        <h3 class="text-white display-2">Server related issue, <br>please try again later..</h3>
        {% else %}
        <h3 class="text-white display-2">There was a problem :(</h3>
          {% if error %}
          <h5 class="text-white display-2">{{error}}</h5>
          {% endif %}
        {% endif %}
    </div>
  </div>

{% endblock %}
